.reset-pwd-group {
    &.form-group {
        max-width: 60%;
        margin-bottom: 15px;

        .reset-label {
            font-size: 20px;
        }

        .reset-input {
            min-height: 35px;
            padding: 3px 10px;
            margin-bottom: 22px;
        }
    }
}
