body {
  background-color: white;
}

.content {
  color: #6c757d;
  padding: 50px 100px;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
}

.logout-button{
  color: rgb(255, 255, 255);
  border: solid white 1px;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms;
}
.logout-button:hover{
  transform: scale(1.1);
}

.logout-button-container{
  margin-left: auto;
}
.navbars{
  justify-content: space-between;
}

