body {
    background-color: white;
}

.content {
    color: #6c757d;
    padding: 50px 100px;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.bg-light {
    min-height: 500px;
}
